StoreSystemMaven/src/wsdl/localhost_44823/economysystemweb/WebserviceService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice/" name="WebserviceService">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice/" schemaLocation="http://localhost:44823/economysystemweb/WebserviceService?xsd=1"/>
</xsd:schema>
</types>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="getResourcesForUser">
<part name="parameters" element="tns:getResourcesForUser"/>
</message>
<message name="getResourcesForUserResponse">
<part name="parameters" element="tns:getResourcesForUserResponse"/>
</message>
<message name="addResourceToUser">
<part name="parameters" element="tns:addResourceToUser"/>
</message>
<message name="addResourceToUserResponse">
<part name="parameters" element="tns:addResourceToUserResponse"/>
</message>
<message name="buyItem">
<part name="parameters" element="tns:buyItem"/>
</message>
<message name="buyItemResponse">
<part name="parameters" element="tns:buyItemResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="hellohello">
<part name="parameters" element="tns:hellohello"/>
</message>
<message name="hellohelloResponse">
<part name="parameters" element="tns:hellohelloResponse"/>
</message>
<message name="registerAccount">
<part name="parameters" element="tns:registerAccount"/>
</message>
<message name="registerAccountResponse">
<part name="parameters" element="tns:registerAccountResponse"/>
</message>
<portType name="Webservice">
<operation name="login">
<input wsam:Action="http://webservice/Webservice/loginRequest" message="tns:login"/>
<output wsam:Action="http://webservice/Webservice/loginResponse" message="tns:loginResponse"/>
</operation>
<operation name="getResourcesForUser">
<input wsam:Action="http://webservice/Webservice/getResourcesForUserRequest" message="tns:getResourcesForUser"/>
<output wsam:Action="http://webservice/Webservice/getResourcesForUserResponse" message="tns:getResourcesForUserResponse"/>
</operation>
<operation name="addResourceToUser">
<input wsam:Action="http://webservice/Webservice/addResourceToUserRequest" message="tns:addResourceToUser"/>
<output wsam:Action="http://webservice/Webservice/addResourceToUserResponse" message="tns:addResourceToUserResponse"/>
</operation>
<operation name="buyItem">
<input wsam:Action="http://webservice/Webservice/buyItemRequest" message="tns:buyItem"/>
<output wsam:Action="http://webservice/Webservice/buyItemResponse" message="tns:buyItemResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://webservice/Webservice/helloRequest" message="tns:hello"/>
<output wsam:Action="http://webservice/Webservice/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="hellohello">
<input wsam:Action="http://webservice/Webservice/hellohelloRequest" message="tns:hellohello"/>
<output wsam:Action="http://webservice/Webservice/hellohelloResponse" message="tns:hellohelloResponse"/>
</operation>
<operation name="registerAccount">
<input wsam:Action="http://webservice/Webservice/registerAccountRequest" message="tns:registerAccount"/>
<output wsam:Action="http://webservice/Webservice/registerAccountResponse" message="tns:registerAccountResponse"/>
</operation>
</portType>
<binding name="WebservicePortBinding" type="tns:Webservice">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getResourcesForUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addResourceToUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buyItem">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hellohello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registerAccount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WebserviceService">
<port name="WebservicePort" binding="tns:WebservicePortBinding">
<soap:address location="http://localhost:44823/economysystemweb/WebserviceService"/>
</port>
</service>
</definitions>