StoreSystemMaven/src/wsdl/192.168.24.11/StoreWebservice.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://webservice/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservice/">

<xs:element name="addResources" type="tns:addResources"/>

<xs:element name="addResourcesResponse" type="tns:addResourcesResponse"/>

<xs:element name="buyItem" type="tns:buyItem"/>

<xs:element name="buyItemResponse" type="tns:buyItemResponse"/>

<xs:element name="getAllItems" type="tns:getAllItems"/>

<xs:element name="getAllItemsResponse" type="tns:getAllItemsResponse"/>

<xs:element name="getItemsForUser" type="tns:getItemsForUser"/>

<xs:element name="getItemsForUserResponse" type="tns:getItemsForUserResponse"/>

<xs:element name="getResourcesForUser" type="tns:getResourcesForUser"/>

<xs:element name="getResourcesForUserResponse" type="tns:getResourcesForUserResponse"/>

<xs:element name="login" type="tns:login"/>

<xs:element name="loginResponse" type="tns:loginResponse"/>

<xs:element name="registerUser" type="tns:registerUser"/>

<xs:element name="registerUserResponse" type="tns:registerUserResponse"/>

<xs:complexType name="login">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buyItem">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buyItemResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registerUser">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registerUserResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getItemsForUser">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getItemsForUserResponse">
<xs:sequence>
<xs:element name="return" type="tns:item" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="item">
<xs:sequence>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long"/>
<xs:element name="image" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="resource_type" type="xs:string" minOccurs="0"/>
<xs:element name="value" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllItems">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllItemsResponse">
<xs:sequence>
<xs:element name="return" type="tns:item" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getResourcesForUser">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getResourcesForUserResponse">
<xs:sequence>
<xs:element name="return" type="xs:float" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addResources">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:float"/>
<xs:element name="arg2" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addResourcesResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>