StoreSystemMaven/src/wsdl/192.168.24.11/StoreWebservice.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice/" name="StoreWebserviceService">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice/" schemaLocation="http://192.168.24.11/StoreWebservice?xsd=1"/>
</xsd:schema>
</types>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="getAllItems">
<part name="parameters" element="tns:getAllItems"/>
</message>
<message name="getAllItemsResponse">
<part name="parameters" element="tns:getAllItemsResponse"/>
</message>
<message name="getResourcesForUser">
<part name="parameters" element="tns:getResourcesForUser"/>
</message>
<message name="getResourcesForUserResponse">
<part name="parameters" element="tns:getResourcesForUserResponse"/>
</message>
<message name="getItemsForUser">
<part name="parameters" element="tns:getItemsForUser"/>
</message>
<message name="getItemsForUserResponse">
<part name="parameters" element="tns:getItemsForUserResponse"/>
</message>
<message name="registerUser">
<part name="parameters" element="tns:registerUser"/>
</message>
<message name="registerUserResponse">
<part name="parameters" element="tns:registerUserResponse"/>
</message>
<message name="buyItem">
<part name="parameters" element="tns:buyItem"/>
</message>
<message name="buyItemResponse">
<part name="parameters" element="tns:buyItemResponse"/>
</message>
<message name="addResources">
<part name="parameters" element="tns:addResources"/>
</message>
<message name="addResourcesResponse">
<part name="parameters" element="tns:addResourcesResponse"/>
</message>
<portType name="StoreWebservice">
<operation name="login">
<input wsam:Action="http://webservice/StoreWebservice/loginRequest" message="tns:login"/>
<output wsam:Action="http://webservice/StoreWebservice/loginResponse" message="tns:loginResponse"/>
</operation>
<operation name="getAllItems">
<input wsam:Action="http://webservice/StoreWebservice/getAllItemsRequest" message="tns:getAllItems"/>
<output wsam:Action="http://webservice/StoreWebservice/getAllItemsResponse" message="tns:getAllItemsResponse"/>
</operation>
<operation name="getResourcesForUser">
<input wsam:Action="http://webservice/StoreWebservice/getResourcesForUserRequest" message="tns:getResourcesForUser"/>
<output wsam:Action="http://webservice/StoreWebservice/getResourcesForUserResponse" message="tns:getResourcesForUserResponse"/>
</operation>
<operation name="getItemsForUser">
<input wsam:Action="http://webservice/StoreWebservice/getItemsForUserRequest" message="tns:getItemsForUser"/>
<output wsam:Action="http://webservice/StoreWebservice/getItemsForUserResponse" message="tns:getItemsForUserResponse"/>
</operation>
<operation name="registerUser">
<input wsam:Action="http://webservice/StoreWebservice/registerUserRequest" message="tns:registerUser"/>
<output wsam:Action="http://webservice/StoreWebservice/registerUserResponse" message="tns:registerUserResponse"/>
</operation>
<operation name="buyItem">
<input wsam:Action="http://webservice/StoreWebservice/buyItemRequest" message="tns:buyItem"/>
<output wsam:Action="http://webservice/StoreWebservice/buyItemResponse" message="tns:buyItemResponse"/>
</operation>
<operation name="addResources">
<input wsam:Action="http://webservice/StoreWebservice/addResourcesRequest" message="tns:addResources"/>
<output wsam:Action="http://webservice/StoreWebservice/addResourcesResponse" message="tns:addResourcesResponse"/>
</operation>
</portType>
<binding name="StoreWebservicePortBinding" type="tns:StoreWebservice">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllItems">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getResourcesForUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getItemsForUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registerUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buyItem">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addResources">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="StoreWebserviceService">
<port name="StoreWebservicePort" binding="tns:StoreWebservicePortBinding">
<soap:address location="http://192.168.24.11/StoreWebservice"/>
</port>
</service>
</definitions>